@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .icon{
    @apply hidden xl:inline-flex p-2 h-10 w-10 bg-yellow-700 rounded-full text-yellow-200 cursor-pointer hover:bg-yellow-500 transition-all;
  }
}



html,
body {
  padding: 0;
  margin: 500;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: antiquewhite;
  color:rgb(1, 163, 163);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#inputsection {
  background-color: rgb(236, 222, 202);
}


